.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: antiquewhite;
  margin: 5px;
  color: red;
  min-width: 80%;
}

.article {
  min-width: 20%;
  background-color: aqua;
  min-height: 200px;
  margin: 5px;
}

.btn {
  margin: 2px;
  min-width: 35px;
  height: 30px;
}

.btnDelete {
  background-color: red;
  color: #fff;
}

.input {
  min-width: 35px;
  height: 26px;
}
